extends layout

block content
  h1= title
  h2(id='roomName')
  div(id='chat-panel' class='panel panel-default')
    ul(id='messages')
    p 
    div(id='chatbox-wrapper')
      form(
        action="",
        id="chatForm",
        class="form-group"
        )
        input(
          id="m",
          class='chatbox form-control',
          autocomplete="off",
          placeholder="Enter a message",
          autofocus="autofocus"
        )