extends layout

block content
  h1= title
  h2(id='roomName')
  ul(id='messages')
  p 
  form(
    action="",
    id="chatForm",
    type="submit"
    )
    input(
      id="m",
      autocomplete="off",
      placeholder="Enter a message"
    )
    button(id='sendBtn') send