extends layout

block content
  h1= title
  h2(id='roomName')
  ul(id='messages')

  p Enter a bubble
  form(
    action="",
    id="channelConnect"
  )
    input(
      id="channelConnectName",
      autocomplete="off",
      placeholder="Bubble name"
    )
    button(id="createChannelBtn") Connect
  p 
  form(
    action="",
    id="chatForm"
    )
    input(
      id="m",
      autocomplete="off",
      placeholder="Enter a message"
    )
    button send